<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="mt-4 p-5 bg-body-secondary rounded mb-0">
                <h1 class="display-4">Novo Pedido</h1>
            </div>

            <div class="card mt-3">
                <form th:object="${requisicaoNovoPedido}" action="/pedido/novo" method="post" class="card-body">
                    <div class="mb-3">
                        <label for="nomeProduto">Produto</label>
                        <input th:field="*{nomeProduto}" th:errorclass="is-invalid" placeholder="Nome do produto" class="form-control">
                        <small>Informe qual o nome do produto</small>
                        <div th:errors="*{nomeProduto}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="urlProduto" class="form-label">Url</label>
                        <input th:field="*{urlProduto}" th:errorclass="is-invalid" placeholder="URL do produto" class="form-control">
                        <small>Procure em um site o produto que você deseja e cole a URL da página aqui.</small>
                        <div th:errors="*{urlProduto}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="urlImagem" class="form-label">Imagem</label>
                        <input th:field="*{urlImagem}" th:errorclass="is-invalid" placeholder="URL da imagem" class="form-control">
                        <small>Copie a URL de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
                        <div th:errors="*{urlImagem}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea th:field="*{descricao}" th:errorclass="is-invalid" placeholder="Adicione detalhes importantes para ajudar o comprador." class="form-control"></textarea>
                        <div th:errors="*{descricao}" class="invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>